@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

html,
body {
    height: 100vh;
    width: 100%;
}

body {
    background: black;
    color: white;
}

#mini-circle {
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mini-circle.expand {
    width: 120px;
    height: 120px;
    background: white;
    opacity: 0.9;
}

#mini-circle.expand::before {
    content: "view";
    color: black;
    text-align: center;
}

#main {
    width: 100%;
}

#hero {
    -webkit-text-stroke-width: 100%;
    height: 100vh;
    background: #000;
}

#nav {
    display: flex;
    color: white;
    width: 100%;
    padding: 41px 40px 0px 40px;
    align-items: center;
    justify-content: space-between;
    overflow-y: hidden;
}

#nav h4 {
    transform: translateY(14px);
}

#nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transform: translateY(14px);
}

#heading {
    margin-top: 67px;
    color: white;
}

.fitcontent h1 {
    margin-left: 230px;
}

#heading h1 {
    height: 20%;
    line-height: 0.9;
    opacity: .6;
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: 500;
}

.bounding {
    margin-left: 30px;
    overflow-y: hidden;
}

.bounding > h1 {
    opacity: 0;
    transform: translateY(90px);
}

.fitcontent {
    width: fit-content;
    overflow-y: hidden;
}

.fitcontent h1 {
    opacity: 0;
    transform: translateY(-90px);
}

.fitcontent p {
    opacity: 0;
    transform: translateY(-14px);
    text-align: right;
    text-transform: uppercase;
    font-size: 15px;
}

#head {
    margin-bottom: 45px;
    overflow-y: hidden;
    justify-content: end;
    color: white;
    font-weight: 300;
    margin-top: 100px;
    margin-right: 21px;
    font-size: 1.5vw;
    font-style: normal;
    text-align: right;
}

#head p {
    transform: translateY(59px);
}

#heroFooter {
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 33px 25px 25px 25px;
    font-weight: 200;
    font-size: 21px;
    background: black;
}

#heroFooter p i {
    background-color: gray;
    border-radius: 50%;
    padding: 6px;
    color: black;
}

.footer1 {
    position: relative;
    padding-left: 8px;
    color: white;
}

.footer1::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: white;
    transition: width 0.4s ease;
    transform-origin: left;
}

.footer1:hover::before {
    width: 100%;
}

#heroFooter i {
    cursor: pointer;
}

#heroFooter i .icon-symbol:hover {
    animation: slideIn 0.3s ease-in;
}

@keyframes slideIn {
    0% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0);
    }
}
.heading-container {
    margin-top: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24vh;
    background-color: #000;
}

.gradient-heading {
    opacity: 0.5;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.5;
    letter-spacing: 0.2rem;
}


.services-section {
    justify-content: space-between;
    display: flex;
    gap: 20px;
    margin:100px;
}

.service-card {
    position: relative;
    height: 515px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
    width: 417px;
    transition: transform 0.3s ease;
    color: #fff;
}

.service-card:hover {
    transform: translateY(-10px);
}

.service-number {
    font-size: 107px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
}

.service-title {
    font-size: 29px;
    margin-top: 10px;
    color: #fff;
}
.service-description {
    font-size: 22px;
    margin-top: 48px;
    color: #ddd;
}

.service-number img{
    background: white;
    border-radius: 50%;
    width: 45%;
}
.service-card>img {
    scale : 0 ;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border-radius: 16px;
    transition: display 0.5s ease-in, scale 0.5s ease-in;
}

.service-card:hover img{
    display: block;
    scale: 1;
}

#second {
    font-size: 4vw;
    color: #fff;
    padding: 200px 25px;
    height: 100vh;
    width: 100%;
    background: black;
}

.elem {
    position: relative;
    justify-content: space-between;
    display: flex;
    padding: 21px 0px;
    width: 100%;
    border-top: 2px solid #888;
}

.elem h1 {
    opacity: .7;
    font-weight: 400;
}

.elemlast {
    border-bottom: 2px solid #888;
}

.elem p {
    font-size: 9px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.elem img {
    display: none;
    height: 100%;
    z-index: 999;
    position: absolute;
    opacity: 0;
}

.elem:hover img {
    display: block;
}

button {
    cursor: pointer;
    font-size: 19px;
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 45px;
    padding: 6px 18px;
    margin: 45px 0;
    transition: background 0.3s ease-in;
}

button:hover a {
    color: black;
}

button:hover {
    background-color: white;
}

button a:hover {
    color: black;
}

button a {
    text-decoration: none;
    color: white;
}

sup {
    color: gray;
}

#about {
    justify-content: end;
    display: flex;
    margin: 800px 100px 300px 100px;
    background: black;
}

#about img {
    margin-right: 45px;
    border-radius: 50%;
    height: 275px;
}

#about .info {
    line-height: 1.5;
    width: 50%;
}

#about .info p:nth-child(1) {
    color: gray;
    margin-bottom: 21px;
}

#about .info p:nth-child(2) {
    line-height: 1.5;
}

#reminder {
    margin: 32px 45px;
    text-transform: uppercase;
    background: black;
}

#reminder p:nth-child(1) {
    color: gray;
}

#reminder p:nth-child(2) {
    padding: 5px 0px;
    color: white;
    font-size: 21px;
    position: relative;
}

#reminder p:nth-child(2)::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    transform-origin: left;
    background: white;
    transition: width 0.4s ease;
}

#reminder p:nth-child(2):hover::before {
    width: 35%;
}

#reminder p:nth-child(2) i {
    padding: 0px 21px;
    transform: rotate(-21deg);
    transition: transform 0.4s ease;
}

#reminder p:nth-child(2):hover i {
    transform: rotate(0deg);
}

#footer {
    display: flex;
    justify-content: space-between;
    margin: 100px 45px;
    background: black;
}

.sociallinks {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.sociallinks p {
    position: relative;
    padding: 10px 21px;
}

.sociallinks p::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    transform-origin: left;
    background: white;
    transition: width 0.4s ease;
}

.sociallinks p:hover::before {
    width: 100%;
}

/* Testimonials Container */
#testimonials {
    display: flex;
    flex-direction: column;
    margin: 200px;
  }
  
  .testimonials {
    transform: translateY(-94px);
    position: relative;
    display: flex;
    justify-content: end;
    text-align: justify;
    align-items: center;
    gap: 2px;
}
  .testimonials2 {
    position: relative;
    display: flex;
    justify-content: space-around;
    text-align: justify;
    align-items: end;
    gap: 20px;
    margin-left: 476px;
    margin-top: 45px;
}
  /* Individual Person Card */
  .person1,
  .person2  , 
  .person3{
    position: relative;
    overflow: hidden;
  }
  .person3 img{
    width: 25%;
  }
  .person1 img,
  .person2 img {
    width: 63%;
    border-radius: 16px;
  }

  /* Overlay Style */
  .overlay {
    width: 63%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    backdrop-filter: blur(5px); /* Adds blur effect */
  }

  .heading {
    margin-left: 133px;
    text-align: start;
    font-size: 170px;
    color: white;
    opacity: 0.6;
    font-weight: 600;
}

#second a { 
    color: white;
    text-decoration: none;

}

.sociallinks p a{
    color: white;
    text-decoration: none;
}

  .person1:hover .overlay,
  .person2:hover .overlay ,
  .person3:hover .overlay 
    {
    opacity: 1;
  }
  
  .overlay p {
    font-size: 17px;
    margin: 10px;
  }
  
  .overlay p img {
    height: 50px;
  }
  


/* Responsive Styles */
@media (max-width: 1200px) {
    #heading h1 {
        font-size: 8vw;
    }

    #nav {
        padding: 20px;
    }

    #about {
        flex-direction: column;
        align-items: center;
        margin: 200px 20px;
    }

    #about img {
        margin-bottom: 20px;
    }

    #about .info {
        width: 90%;
        text-align: center;
    }

    #second {
        padding: 100px 10px;
    }

    .elem {
        align-items: center;
        padding: 15px 0;
    }

    .elem img {
        width: 100px; /* Adjust size for smaller screens */
    }
}

@media (max-width: 768px) {
    #about img {
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .gradient-heading {
        font-size: 2.5rem;
    }
    #mini-circle{
        display: none;
    }
    #heading h1 {
        font-size: 10vw;
    }

    button {
        font-size: 11px;
        padding: 10px 15px;
    }

    #nav h4 {
        font-size: 16px;
    }

    #heroFooter p {
        font-size: 11px;
        margin-bottom: 10px;
    }

    #heroFooter{
        margin: 0px;
    }


    #heroFooter p {
        margin-bottom: 10px;
    }
    .fitcontent h1 {
        margin-left: 128px;
    }
    #mini-circle{
        display: none;
    }
    .sociallinks {
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        font-size: 13px;
    }
    .sociallinks p {
        position: relative;
        padding: 21px 5px;
    }
    #reminder p:nth-child(2) {
        padding: 5px 0px;
        color: white;
        font-size: 11px;
        position: relative;
    }
    #about .info p:nth-child(2) {
        line-height: 1.5;
        font-size: 13px;
    }
    .services-section {
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        margin: 0px;
    }
    .service-number {
        font-size: 81px;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.5);
    }
    .service-title {
        font-size: 20px;
        margin-top: 10px;
        color: #fff;
    }
    .service-card {
        margin: 9px;
        width: 90%;
        height: 90%;
    }
    .service-description {
        font-size: 15px;
        margin-top: 48px;
        color: #ddd;
    }
    .testimonials{
        transform: translateY(0px);
    }
    .heading {
        text-align: center;
        font-size: 18.5vw;
        margin-left: 0px;
    }
    .testimonials2 {
        align-items: end;
        justify-content: start;
        margin-left: 0px;
    }
    .testimonials{
        display: flex;
        flex-direction: column;
    }
    #testimonials {
        margin: auto;
        width: 83%;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .overlay p {
        font-size: 17px;
        margin: 10px;
    }
    .testimonials .person2 {
        justify-content: end;
        display: inline-flex;
    }
    .testimonials .person2 .overlay {
        display: inline-flex;
        margin-left: 229px;
    }
    #reminder {
        margin: 32px 0px;
        text-transform: uppercase;
        background: black;
    }
}

@media (max-width: 480px) {
    #reminder {
        margin: 32px 0px;
        text-transform: uppercase;
        background: black;
    }
    .overlay{
        width: 79%;
    }
    .person1 img, .person2 img {
        width: 79%;
        border-radius: 16px;
    }
    .testimonials .person2 .overlay {
        display: inline-flex;
        margin-left: 110px;
    }
    .testimonials .person2 {
        justify-content: end;
        display: inline-flex;
    }
    .overlay p {
        font-size: 10px;
        margin: 10px;
    }
    #head{
        font-size: 2.5vw;
    }

    #testimonials {
        margin: auto;
        width: 83%;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .testimonials{
        display: flex;
        flex-direction: column;
    }
    .testimonials2 {
        align-items: end;
        justify-content: start;
        margin-left: 0px;
    }
    .testimonials{
        transform: translateY(0px);
    }
    .heading{
        font-size: 84px;
        margin-left: 0px;
    }
    #about img {
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .service-card {
        margin: 9px;
        width: 90%;
        height: 90%;
    }
    .service-description {
        font-size: 15px;
        margin-top: 48px;
        color: #ddd;
    }
    .service-number {
        font-size: 81px;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.5);
    }
    .service-title {
        font-size: 20px;
        margin-top: 10px;
        color: #fff;
    }
    .gradient-heading {
        font-size: 2.5rem;
    }
    .services-section {
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        margin: 0px;
    }
    #heroFooter{
        margin: 0px;
    }
    #about .info p:nth-child(2) {
        line-height: 1.5;
        font-size: 13px;
    }
    #reminder p:nth-child(2) {
        padding: 5px 0px;
        color: white;
        font-size: 11px;
        position: relative;
    }
    .sociallinks {
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        font-size: 13px;
    }
    .sociallinks p {
        position: relative;
        padding: 21px 5px;
    }
    #mini-circle{
        display: none;
    }
    .fitcontent h1 {
        margin-left: 128px;
    }
    #heroFooter p {
        font-size: 11px;
        margin-bottom: 10px;
    }

    #nav a {
        color: white;
        text-decoration: none;
        font-size: 11px;
        transform: translateY(14px);
    }
    #about .info {
        width: 100%;
        text-align: center;
    }

    #footer {
        flex-direction: column;
        align-items: center;
        margin: 50px 10px;
    }
}
